.user__container {
  margin-top: 120px;
  padding: 0 5vw;
  height: 90vh;
  overflow-y: scroll;

  .user__container__userListHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
      font-size: 1.5rem;
      font-weight: 400;
    }

    div:first-child {
      p {
        color: #0008;
      }
    }

    .MuiButton-root {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      outline: 0px;
      border: 0px;
      margin: 0px;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      text-decoration: none;
      font-weight: 700;
      line-height: 1.71429;
      font-size: 1rem;
      text-transform: capitalize;
      font-family: "Public Sans", sans-serif;
      min-width: 64px;
      padding: 6px 16px;
      border-radius: 8px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      color: rgb(255, 255, 255);
      background-color: rgb(0, 171, 85);
      box-shadow: none;
    }
  }

  .user__container__userTable {
    margin-top: 40px;

    .boxHeader {
      background: #f4f6f8;
      border-radius: 10px 10px 0 0;
    }

    .MuiButtonBase-root.MuiTab-root {
      text-transform: capitalize;
      min-width: 70px;
      font-size: 15px;
      font-family: "Oswald", serif;
      color: rgb(99, 115, 129);
      font-weight: 400;
      &.Mui-selected {
        color: rgb(99, 115, 129);
      }
    }

    .MuiTabs-indicator {
      background: rgb(0, 171, 85);
    }
  }
}
