.dashboard__bulkUploadContainer {
  padding: 0 7vw;
  margin-top: 120px;
  height: 90vh;
  overflow-y: scroll;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .subtitle {
      line-height: 1.57143;
      font-size: 0.875rem;
      font-family: "Public Sans", sans-serif;
      font-weight: 400;
      color: rgb(99, 115, 129);
    }

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #0984e3;
    }
  }

  .ewqTBN, .sc-beqWaB {
    width: 100%;
    max-width: 100%;
    padding: 120px 50px;
    margin: 16px 0;
    background: #f5f7f8;
    border: 1px dashed rgba(145, 158, 171, 0.32);
  }

  .kyUZVo > span {
    font-size: 18px;
  }

  .kyUZVo .file-types {
    text-transform: lowercase;
  }

  svg {
    margin-right: 8px;

    path {
      fill: #00aa54;
    }
  }

  .llmFop span {
    color: #00aa54;
  }

  .imageActions {
    .MuiButton-root {
      padding: 0;
      min-width: 0;
      color: #eb4d4b;
      text-transform: capitalize;
      gap: 5px;
      margin-top: 15px;
    }
  }
}
