.ecommerce__container {
  padding: 20px 9vw;
  height: 100vh;
  overflow-y: scroll;

  .ecommerceContainer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .subtitle {
      line-height: 1.57143;
      font-size: 0.875rem;
      font-family: "Public Sans", sans-serif;
      font-weight: 400;
      color: rgb(99, 115, 129);
    }

    .actionBtns {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .MuiButton-root {
      gap: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      outline: 0px;
      border: 0px;
      margin: 0px;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      text-decoration: none;
      font-weight: 700;
      line-height: 1.71429;
      font-size: 1rem;
      text-transform: capitalize;
      min-width: 64px;
      padding: 6px 16px;
      border-radius: 8px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      color: rgb(255, 255, 255);
      background-color: rgb(0, 171, 85);
      box-shadow: none;

      &:hover {
        box-shadow: rgba(0, 171, 85, 0.24) 0px 8px 16px 0px;
      }
    }
  }

  .productList.paper {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
      rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    border-radius: 16px;
    z-index: 0;
    padding: 24px;
    margin-top: 30px;

    .filter {
      display: flex;
      align-items: center;
      gap: 24px;

      .productSearchContainer {
        flex: 1;
        border: 1px solid #0004;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 10px;
        border-radius: 5px;

        input {
          font-size: 1rem;
          flex: 1;
          padding: 16px 0;
          border: none;

          &:focus {
            outline: none;
            border: none;
          }
        }
      }
    }

    .ecommerceContainer__productTable {
      .MuiTableHead-root {
        background-color: #f5f7f8;
      }
      .productImage {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 16px 0;

        img {
          width: 55px;
          height: 55px;
          object-fit: cover;
          border-radius: 15px;
        }

        p {
          font-size: 16px;
        }

        h4 {
          color: #0008;
        }
      }

      .productTableAction {
        .MuiButton-root {
          min-width: 0;
          padding: 3px 8px;

          i {
            font-size: 18px;
          }
        }

        .MuiButton-root:nth-child(1) {
          color: rgb(0, 171, 85);
          background: #42ff3c46;
        }
        .MuiButton-root:nth-child(2) {
          color: #2e55cc;
          background: #2e55cc19;
          margin: 0 8px;
        }
        .MuiButton-root:nth-child(3) {
          color: #f44336;
          background: #f443361c;
        }
      }

      .productStatus {
        div {
          border-radius: 8px;
          padding: 5px 8px;
          max-width: 110px;
          margin: 0 auto;
        }

        .outOfStock {
          background: #f4433641;
          color: #f44336;
        }

        .onStock {
          color: rgb(0, 171, 85);
          background: #42ff3c46;
        }

        .lowStock {
          background: #3498db1d;
          color: #3498db;
        }
      }

      b {
        color: #0009;
        font-weight: 500;
      }
    }
  }

  &.dark {
    background: #161c24;

    .ecommerceContainer__header {
      h1 {
        color: #fff;
      }
    }

    .productList.paper {
      background: #212b36;
      color: #fff;
      box-shadow: none;

      .MuiTableHead-root {
        background: #212b36;
      }

      .MuiTypography-root#tableTitle,
      .MuiButtonBase-root,
      .MuiSvgIcon-root,
      .MuiFormLabel-root,
      .MuiInputBase-root,
      .MuiTablePagination-selectLabel,
      .MuiTablePagination-displayedRows,
      .MuiTypography-root {
        color: #fff;
      }

      .MuiTableCell-root {
        border-color: rgba(255, 255, 255, 0.2);
      }

      .MuiPaper-root {
        background: #212b36;

        .MuiTableCell-root,
        b {
          color: #fff;

          .subtitle,
          h4 {
            color: rgb(99, 115, 129);
          }
        }
      }

      .filter {
        .productSearchContainer {
          border-color: rgba(255, 255, 255, 0.2);

          input {
            background: transparent;
            color: #fff;
          }
        }
      }
    }
  }
}
