.onboardUser__container {
  background: url("https://ik.imagekit.io/jckalabs/Zetsy/Screenshot_from_2023-04-11_22-50-49.png?updatedAt=1681232769113");
  background-repeat: no-repeat;
  background-size: cover;
}
.onboardUser__container .overlay {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.onboardUser__container .paper {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-image: none;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  border-radius: 16px;
  z-index: 0;
  display: flex;
  align-items: center;
  padding: 24px;
  width: 40vw;
  flex-direction: column;
}
.onboardUser__container .paper .MuiStepper-root {
  width: 100%;
  padding: 0;
  margin: 0;
}
.onboardUser__container .paper .MuiSvgIcon-root.Mui-active {
  color: #6c5ce7;
}
.onboardUser__container .paper .MuiButton-root {
  border-radius: 8px;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  color: white;
}
.onboardUser__container .paper .nextBtn {
  background-color: #6c5ce7;
}
.onboardUser__container .paper .nextBtn:hover {
  background-color: rgba(108, 92, 231, 0.7450980392);
}
.onboardUser__container .paper .skipBtn {
  background-color: #e17055;
}
.onboardUser__container .paper .skipBtn:hover {
  background-color: rgba(225, 113, 85, 0.7333333333);
}
.onboardUser__container .paper .backBtn {
  background-color: #2d3436;
}
.onboardUser__container .paper .backBtn:hover {
  background-color: rgba(45, 52, 54, 0.6901960784);
}
.onboardUser__container .paper .resetBtn {
  background-color: #6c5ce7;
}
.onboardUser__container .paper .resetBtn:hover {
  background-color: rgba(108, 92, 231, 0.7450980392);
}
.onboardUser__container .paper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.onboardUser__container .paper form input {
  width: 25vw;
}
.onboardUser__container .paper .businessInfo__container,
.onboardUser__container .paper .customerInformation__container,
.onboardUser__container .paper .socialInformation__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.onboardUser__container .paper .businessInfo__container h1,
.onboardUser__container .paper .customerInformation__container h1,
.onboardUser__container .paper .socialInformation__container h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
.onboardUser__container .paper .businessInfo__container .MuiAutocomplete-popper ul,
.onboardUser__container .paper .customerInformation__container .MuiAutocomplete-popper ul,
.onboardUser__container .paper .socialInformation__container .MuiAutocomplete-popper ul {
  background: #E4E0EA !important;
}/*# sourceMappingURL=style.css.map */