.paymentsTab__container {
  margin-top: 90px;
  padding: 0 40px;
  height: 90vh;
  overflow-y: scroll;

  .paper {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
      rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    border-radius: 16px;
  }

  .paymentsSummary {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    border-bottom: 1px dashed rgba(145, 158, 171, 0.24);
    padding: 24px 0 30px 0;

    .summaryItem {
      flex: 1 1 0;
      position: relative;

      .MuiButton-root {
        padding: 5px 13px;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        position: absolute;
        color: rgb(200, 250, 205);
        background-color: rgb(0, 123, 85);
        min-width: 0;
        font-size: 24px;
      }

      h1 {
        margin: 5px 0;
      }

      h4 {
        font-size: 1.2rem;
        font-weight: 400;
      }

      p {
        line-height: 1.56;
        display: flex;
        align-items: center;
        gap: 5px;
        color: #005348;
      }

      &.income {
        background-color: #c8facd;

        h1 {
          color: #005348;
        }

        h4 {
          line-height: 1.57143;
          color: #00524a;
        }
      }

      &.expense {
        background-color: #fef4cc;
        padding-bottom: 0;

        h1 {
          color: #7a4001;
        }

        p {
          color: #7a4001;
        }

        h4 {
          line-height: 1.57143;
          color: #7a4001;
        }

        .MuiButton-root {
          color: #f9e0a2;
          background-color: #b76f01;
        }
      }

      .summaryHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 24px;
      }

      svg{
        position: absolute;
        bottom: -30px;
        right: 10px;
      }
    }

    .cardDetails {
      background: url("https://ik.imagekit.io/jckalabs/Zetsy/Screenshot_from_2023-03-28_22-19-11.png?updatedAt=1680021398511")
        no-repeat center center;

      .overlay {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 24px;
        color: #fff;
        height: 100%;

        h4 {
          opacity: 0.72;
          font-weight: 600;
          line-height: 1.57143;
          font-size: 1rem;
          margin-bottom: 15px;
        }

        .balance {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 16px;

          i {
            font-size: 20px;
            opacity: 0.72;
          }
        }

        .cardNumber {
          display: flex;
          align-items: center;
          gap: 16px;
          margin: 30px 0;
          justify-content: right;
          font-size: 24px;
        }

        .cardDetailDescription {
          display: flex;
          align-items: flex-start;
          gap: 34px;

          h4 {
            line-height: 1.5;
            font-size: 0.95rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
