.paymentsTab__container {
  padding: 20px 40px;
  height: 100vh;
  overflow-y: scroll;
}
.paymentsTab__container .paper {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-image: none;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  border-radius: 16px;
}
.paymentsTab__container .paymentsSummary {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  border-bottom: 1px dashed rgba(145, 158, 171, 0.24);
  padding: 24px 0 30px 0;
}
.paymentsTab__container .paymentsSummary .summaryItem {
  flex: 1 1 0;
  position: relative;
}
.paymentsTab__container .paymentsSummary .summaryItem .MuiButton-root {
  padding: 5px 13px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  position: absolute;
  color: rgb(200, 250, 205);
  background-color: rgb(0, 123, 85);
  min-width: 0;
  font-size: 24px;
}
.paymentsTab__container .paymentsSummary .summaryItem h1 {
  margin: 5px 0;
}
.paymentsTab__container .paymentsSummary .summaryItem h4 {
  font-size: 1.2rem;
  font-weight: 400;
}
.paymentsTab__container .paymentsSummary .summaryItem p {
  line-height: 1.56;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #005348;
}
.paymentsTab__container .paymentsSummary .summaryItem.income {
  background-color: #c8facd;
}
.paymentsTab__container .paymentsSummary .summaryItem.income h1 {
  color: #005348;
}
.paymentsTab__container .paymentsSummary .summaryItem.income h4 {
  line-height: 1.57143;
  color: #00524a;
}
.paymentsTab__container .paymentsSummary .summaryItem.expense {
  background-color: #fef4cc;
  padding-bottom: 0;
}
.paymentsTab__container .paymentsSummary .summaryItem.expense h1 {
  color: #7a4001;
}
.paymentsTab__container .paymentsSummary .summaryItem.expense p {
  color: #7a4001;
}
.paymentsTab__container .paymentsSummary .summaryItem.expense h4 {
  line-height: 1.57143;
  color: #7a4001;
}
.paymentsTab__container .paymentsSummary .summaryItem.expense .MuiButton-root {
  color: #f9e0a2;
  background-color: #b76f01;
}
.paymentsTab__container .paymentsSummary .summaryItem .summaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
}
.paymentsTab__container .paymentsSummary .summaryItem svg {
  position: absolute;
  bottom: -30px;
  right: 10px;
}
.paymentsTab__container .paymentsSummary .cardDetails {
  background: url("https://ik.imagekit.io/jckalabs/Zetsy/Screenshot_from_2023-03-28_22-19-11.png?updatedAt=1680021398511") no-repeat center center;
}
.paymentsTab__container .paymentsSummary .cardDetails .overlay {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px 24px;
  color: #fff;
  height: 100%;
}
.paymentsTab__container .paymentsSummary .cardDetails .overlay h4 {
  opacity: 0.72;
  font-weight: 600;
  line-height: 1.57143;
  font-size: 1rem;
  margin-bottom: 15px;
}
.paymentsTab__container .paymentsSummary .cardDetails .overlay .balance {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.paymentsTab__container .paymentsSummary .cardDetails .overlay .balance i {
  font-size: 20px;
  opacity: 0.72;
}
.paymentsTab__container .paymentsSummary .cardDetails .overlay .cardNumber {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 30px 0;
  justify-content: right;
  font-size: 24px;
}
.paymentsTab__container .paymentsSummary .cardDetails .overlay .cardDetailDescription {
  display: flex;
  align-items: flex-start;
  gap: 34px;
}
.paymentsTab__container .paymentsSummary .cardDetails .overlay .cardDetailDescription h4 {
  line-height: 1.5;
  font-size: 0.95rem;
  margin-bottom: 0;
}
.paymentsTab__container.dark {
  background: #161c24;
}/*# sourceMappingURL=style.css.map */